
<div class="row" style="margin-top: 30px;">
    <div class="col-md-12">
        <p>
            Here at skin dimensions Aesthetics we use a range of different brands and strengths of peel. We will carry out a detailed skin analysis and recommend the one that is most appropriate for you.
        </p> 
    </div>
</div>

<div class="wrapper center-block main-content">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
                        What happens during the treatment?
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" style="height: 0px;">
                <div class="panel-body">
                    <p>A session lasts between 15 and 30 minutes and takes place as follows: cleaning, application of the peel, and neutralization. Some peels are performed as a series of 4 or 6 sessions, which take place over the course of several weeks.</p>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        What results should I expect?
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" style="height: 0px;">
                <div class="panel-body">
                    <p>After the treatment your skin will appear clearer and more radiant.  You can return to your daily routine immediately and should not experience any side effects.</p>
                    <p>We normally recommend that you book a course of skin peel treatments in order to retain the benefits and keep a youthful, healthy glow.</p>
                </div>
            </div>
        </div>
    </div>
</div>