<div class="container-fluid">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="~/images/slide2.jpg" style="width:100%;">
            </div>
            <div class="item">
                <img src="~/images/slide3.jpg" style="width:100%;">
            </div>
            <div class="item">
                <img src="~/images/slide4.jpg" style="width:100%;">
            </div>
            <div class="item">
                <img src="~/images/slide5.jpg" style="width:100%;">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div class="space-medium" style="background-color: #f0f5f7; color: #fff;font-size: 16px; font-family: sans-serif;">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="mb20 section-title">
                    <!-- section title start-->
                    <h1 style="color: #fff; padding: 5px; border: 2px solid #294a70; border-radius: 5px; text-align: center; background-color: #294a70; font-family: sans-serif; font-size: 24px;">Welcome to Consultant Orthopdeic Clinic</h1>
                </div>
                <!-- /.section title start-->
            </div>
        </div>
        <div classs="row">
            <div class="col-md-12" style="margin-bottom: 20px;">
                <p style="font-size: 18px;font-family: sans-serif; color: #000">At Consultant Orthopdeic Clinic, we work towards resolving symptoms quickly as well as treating the underlying cause or source of pain. We offer a complete solution to the current injury and work towards preventing the recurrence of injury</p>
                <p style="font-size: 18px;font-family: sans-serif; color: #000">We are a team of experienced chartered physiotherapists with high quality patient care and personal goals is our number one priority</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-block">
                    <!-- service block -->
                    <div class="service-img mb20">
                        <!-- service img -->
                        <a href="#"><img src="~/images/yspc-service-1.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <!-- service img -->
                    <div class="service-content">
                        <!-- service content -->
                        <h2 style="color: #fff; padding: 5px; border: 2px solid #294a70; border-radius: 5px; text-align: center; background-color: #294a70; font-family: sans-serif; font-size: 20px;">Physiotherapy</h2>
                        <p style="font-size: 18px;font-family: sans-serif; color: #000">All our staff are Chartered Physiotherapists and musculoskeletal specialist .  Our kind of physiotherapy involves advanced clinical assessment and diagnosis methods. We use variety  of hands-on treatments including different mobilisations and soft tissue techniques.</p>
                    </div>
                    <!-- service content -->
                </div>
                <!-- /.service block -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-block">
                    <!-- service block -->
                    <div class="service-img mb20">
                        <!-- service img -->
                        <a href="#"><img src="~/images/yspc-service-2.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <!-- service img -->
                    <div class="service-content">
                        <!-- service content -->
                        <h2 style="color: #fff; padding: 5px; border: 2px solid #294a70; border-radius: 5px; text-align: center; background-color: #294a70; font-family: sans-serif; font-size: 20px;">Sport Injuries</h2>
                        <p style="font-size: 18px;font-family: sans-serif; color: #000">Working with our specialist physiotherapist, you will make a quick recovery and back to enjoying your sports and leisure activities. We also work on improving strength to prevent form reoccurrence of injuries.</p>
                    </div>
                    <!-- service content -->
                </div>
                <!-- /.service block -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-block">
                    <!-- service block -->
                    <div class="service-img mb20">
                        <!-- service img -->
                        <a href="#"><img src="~/images/yspc-service-3.png" alt="" class="img-responsive"></a>
                    </div>
                    <!-- service img -->
                    <div class="service-content">
                        <!-- service content -->
                        <h2 style="color: #fff; padding: 5px; border: 2px solid #294a70; border-radius: 5px; text-align: center; background-color: #294a70; font-family: sans-serif; font-size: 20px;">Work Related Injuries</h2>
                        <p style="font-size: 18px;font-family: sans-serif; color: #000">We also offer postural education, ergonomic advice and back care programme for you and your employees. This includes work-station assessments and advice on how to optimise your space to keep you most comfortable and productive.</p>
                    </div>
                    <!-- service content -->
                </div>
                <!-- /.service block -->
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="service-block">
                    <!-- service block -->
                    <div class="service-img mb20">
                        <!-- service img -->
                        <a href="#"><img src="~/images/yspc-service-4.jpg" alt="" class="img-responsive"></a>
                    </div>
                    <!-- service img -->
                    <div class="service-content">
                        <!-- service content -->
                        <h2 style="color: #fff; padding: 5px; border: 2px solid #294a70; border-radius: 5px; text-align: center; background-color: #294a70; font-family: sans-serif; font-size: 20px;">Acupuncture</h2>
                        <p style="font-size: 18px;font-family: sans-serif; color: #000">Acupuncture is a treatment originating from ancient Chinese medicine in which fine needles are inserted into certain points of the body for therapeutic or preventative purposes. Acupuncture can be used to relieve the pain and muscle tension that arises with many injuries.</p>
                    </div>
                    <!-- service content -->
                </div>
                <!-- /.service block -->
            </div>
        </div>
    </div>
</div>


<div id="testimonial" class="containertestimonial" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row">
        <div class="col-sm-6 col-md-12">
            <h2><strong>Testimonial</strong></h2>
            <div class="seprator"></div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <div class="row" style="padding: 20px">
                            <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                            <p class="testimonial_para">Iv been getting regular Wellness drips and B12 injections from Skin Dimensions for nearly a year. They have been a god send I don’t know what I would do without them. I’m totally revitalised and full of life since having them. They are a life long investment and will strongly advise and recommend everybody to get them. I’m a life long happy and satisfied customer at Skin Dimensions thank you so much for ur care and services.</p><br>
                            <div class="row">

                                <div class="col-sm-10">
                                    <h4><strong>Satya Chekra</strong></h4>
                                    <p class="testimonial_subtitle">
                                        <span>Software Developer</span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="row" style="padding: 20px">
                            <button style="border: none;"><i class="fa fa-quote-left testimonial_fa" aria-hidden="true"></i></button>
                            <p class="testimonial_para">Sangeeta from Skin Dimensions was very professional, caring and gentle I felt no pain whatsoever. I never had tear trough filler before and I was very nervous, she explained everything in detail from the product she was using to how the procedure was going to be done. During the treatment sangeeta spoke to me and kept me calm, the treatment was quick and painless and over within minutes. I love the overall look and results and will definitely be recommending everybody to get their treatments done at Skin Dimensions.</p><br>
                            <div class="row">

                                <div class="col-sm-10">
                                    <h4><strong>Claire McMillan</strong></h4>
                                    <p class="testimonial_subtitle">
                                        <span>Teacher</span><br>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="controls testimonial_control pull-right">
                <a class="left fa fa-chevron-left btn btn-default testimonial_btn" href="#carousel-example-generic" data-slide="prev"></a>
                <a class="right fa fa-chevron-right btn btn-default testimonial_btn" href="#carousel-example-generic" data-slide="next"></a>
            </div>
        </div>
    </div>
</div>