<style>
    body {
        /*background-color: #39673b;*/
        color: #ffffff;
    }
</style>
<div class="container" style="color: #ffffff; font-weight: bold; font-size: 16px; font-family: sans-serif;">
    <div class="row" style="margin-bottom: 30px;margin-top: 30px;">
        <div class="col-md-6">
            <img src="~/images/syam.png" alt="" class="img-responsive">
        </div>
        <div class="col-md-6">
            <p>
                Syam is working as a part time Sports Physiotherapist at Physiotherapy Clinic. As a Principal Lecturer in Sports Therapy, he is also involved in teaching at University. He gained first class BSc (Hons) in Physiotherapy in 1999, MSc in sports Physiotherapy in 2002 and MSc in sports biomechanics in 2007. He is currently doing his PhD on Spine Biomechanics and Spinal Pain.
            </p>
            <p>
                For the past 17 years, Syam has gained diverse experience treating athletes from regional to national level. During his career he became a clinical specialist providing a very high quality, comprehensive assessment, covering all aspects of spinal disorders. Syam has a strong interest and expertise in treating wide range of patients with low back and neck pain.
            </p>
            <p>
                Call Syam on 07777 77777
            </p>
        </div>
    </div>
</div>